body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #1F204180;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1190px;
	padding: 0px 15px;
	margin: 0px auto;
}
.img__container {
	max-width: 1440px;
	margin: 0 auto;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* HEADER */
.header {
	padding: 15px 0;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* HEADER LOGO AND NAME */
.header__logo {
	display: flex;
	align-items: center;
}
.header__logo-logo {
	margin-right: 12.5px;
}
.header__logo-name {
	align-items: center;
}
.header__nav-buttons {
	display: flex;
	flex-wrap: wrap;
}
/* HEADER NAV */
.header__nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header__nav ul{
	display: flex;
	align-items: center;
	margin-bottom: 0;
}
.header__nav li:not(:nth-child(2), :nth-child(6)) {
	margin-right: 20px;
}
.material-icons {
}
/* HEADER BUTTONS */
.header__buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header__button-little {
	font-weight: 700;
	font-size: 12px;
	height: 34px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	padding: 2px; /* для градиента */
	color: #BC9CFF; /* цвет текста кнопки*/
}
.header__button-little-gradient {
	background: #FFFFFF;
	padding: 6px 20px;
	border-radius: 22px;
	display: flex;
	align-items: center;
}
.header__button-big {
	margin-left: 20px;
	font-weight: 700;
	font-size: 12px;
	line-height: 125%;
	text-transform: uppercase;
	color: #FFFFFF;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	padding: 9px 20px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* MAIN */
.main__picture {
	position: absolute;
	z-index: -10;
}
.main__choose-number {
	position: relative;
}
.choose-number__form {
	max-width: 380px;
	max-height: 374px;
	background: #FFFFFF;
	margin-top: 70px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.choose-number__form-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 120.83%;
	color: #1F2041;
	margin: 40px 30px 0 30px;
}
.choose-number__form-date {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 30px 0 30px;
}
.choose-number__form-date-text-form {

}
.choose-number__form-date-arrival-text {
	margin-bottom: -10px;
}
.choose-number__form-date-arrival-form {
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 11.56px 5px 8.44px 15px;	
}
.choose-number__form-date-arrival-form input {
	display: none;
}
.choose-number__form-date-arrival-form span {
	font-size: 24px;
	line-height: 100%;
	margin-left: 5px;
}
.choose-number__form-date-departure {
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
}
.choose-number__form-text {
	font-weight: 700;
	font-size: 12px;
	line-height: 125%;
	text-transform: uppercase;
	color: #1F2041;
}
.choose-number__form-guests {
	margin: 20px 30px 0 30px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
}
.form-guest {
}
/* MAIN BUTTON */
.choose-number__button {
	margin-right: 60px;
}
.btn-big {
	margin: 30px;
	display: flex;
	justify-content: end;
	align-items: center;
}
.header__button-big {
}
.material-icons {
}

/* MAIN TITLE */
.main__title {
	position: relative;
}
.main__text {
	position: absolute;
	right: 0;
	bottom: -320px;
	width: 297px;
	line-height: 171.42%;
	text-align: right;
	color: rgba(31, 32, 65, 0.75);
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
.footer {
	padding: 600px 0px 100px 0px;
}
.footer__navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__navigation-logo {
	margin-right: 40px;
}
.footer__navigation-logo-img {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.navigation-logo-img {
	margin-right: 12.5px;
}
.footer-nav {
}
.footer-nav p {
	font-weight: 700;
	color: #1F2041;
}
.footer-nav .footer-nav-text {
	font-weight: 400;
	color: rgba(31, 32, 65, 0.75);
}
.footer-nav ul {
	padding: 0;
}
.footer-nav li {
	margin-top: 20px;
}
.footer-email {
	height: 44px; 
	border: 1px solid rgba(31, 32, 65, 0.25); /* толшина, цвет, размер границы */
	border-radius: 4px; /* радиус скругления углов рамки */
}
.footer-email p {
	display: flex;
	margin-top: 10px;
	margin-left: 10px;
}
.footer-email span {
	width: 44px;
	margin-right: -10px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); /* градиент */
	-webkit-background-clip: text; /* фон уходит, остается текст */
	-webkit-text-fill-color: transparent; /* градиент */
}
.material-icons {
}
.footer__contacts {
	padding: 23px 0px 23px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between ;
	align-items: center;
	text-align: center;
}
.footer__contacts-copyright p {
	margin: 0;
}
.footer__contacts-icons ul {
	display: flex;
	margin-bottom: 0;
}
.footer__contacts-icons ul > * + *{ /* любой элемент на первом уровне+его сосед справо */
	margin-left: 20px;
}
.footer__contacts-icons {
}
.icons {
}
.fab {
	font-size: 24px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); /* градиент */
	-webkit-background-clip: text; /* фон уходит, остается текст */
	-webkit-text-fill-color: transparent; /* градиент */
}